.jumbo-style {
    height: 500px;
    background-size: cover;

}
.jumbotron {
    height: 500px;
    margin-left: 35px;
    margin-top: 35px;
    margin-right:35px;
}
.animationCard {
    background-size: cover;
    height: 800px;
    margin-right: 35px;
    margin-top: 35px;
}
.card-text {
    font-size: 150px;
}