.jumbo-style {
    height: 500px;
    background-size: cover;

}
.jumbotron {
    height: 500px;
    margin-left: 35px;
    margin-top: 35px;
    margin-right:35px;
}
.animationCard {
    background-size: cover;
    height: 800px;
    margin-right: 35px;
}
.card-text {
    font-size: 150px;
}
.aymntitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;

    
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:100px !important;
    margin-top:20px !important;
}